{% extends "entries/base.html" %}

{% block content %}
      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <a href="{% url 'blog-home' %}">Back to Home</a>
        <!-- Blog Post -->
        <div class="card mb-4 mt-4">
          <div class="card-body">
            <h3 class="card-title">{{ object.entry_title }}</h3>
            <p class="card-text">{{ object.entry_text|linebreaks }}</p>
          </div>
          <div>
            <p>Tags: {{ object.entry_tags }}</p>
          </div>
          <div class="card-footer text-muted">
            Posted on {{ object.entry_date }} by
            <span class= "text-info mr-2">{{ object.entry_author }}</span>
          </div>
        </div>

        <hr>
        <a class="btn btn-primary btn-sm" href="{% url 'create_comment' pk=entry.pk %}">Add Comment</a>
        {% for comment in entry.comments.all %}
          <div class="comment">
            <div class="date">{{ comment.comment_date }}</div>
            <strong>{{ comment.comment_author }}</strong>
            <p>{{ comment.comment_text|linebreaks }}</p>
          </div>
        {% empty %}
          <p>No comments here yet :(</p>
        {% endfor %}

      </div>
{% endblock %}